<ion-header>
  <ion-navbar>
    <ion-title>
      TODO List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">
      {{item.title}}
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <h2>{{item.title}}</h2>
        <h6>{{item.date}}</h6>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="viewItem(item)">
          <ion-icon name="glasses"></ion-icon>
          view
        </button>
        <button ion-button color="danger" (click)="trash(item)">
          <ion-icon name="trash"></ion-icon>
          trash
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
